<h1>
    <a class="student-link-h1" href="/students">
        <%= data.name %>
    </a>
</h1>
<div class="div-student-page-container">
    <div class="div-student-page-para-container">
        <p><b>Nome: </b>
            <%= data.name %>
        </p>
        <p><b>Pontos: </b>
            <%= data.points %>
        </p>
       
        <!-- calculating weight lost/ put on -->
        <p><b>Peso Perdido: </b>
            <%= data.initialWeight - data.currentWeight %> kg
        </p>

        <!--  -->
        <p><b>Peso Inicial: </b>
            <%= data.initialWeight %> kg
        </p>
        <p><b>Peso Atual: </b>
            <%= data.currentWeight %> kg
        </p>
        <p><b>Idade: </b>
            <%= data.age %> anos
        </p>
        <p><b>Gênero: </b>
            <%= data.gender === 'female' ? "Feminino" : "Masculino" %> 
        </p>
    </div>
    <div class="div-student-page-img-container">
        <img class="image-student-page" src="<%= data.gender === 'female' ? '/icons/woman.png' :  '/icons/man.png' %>"
            alt="<%= data.gender %> icon">


    </div>

    <div class="div-student-page-para2-container">

        <p><b>Altura: </b>
            <%= data.height %> cm
        </p>
        
       
        <p><b>Dias de Comparecimento:</b>
            <%= data.attendanceDays %>
        </p>
        <p><b>Detalhes: </b>
            <%= data.details %>
        </p>
     
        <p><b>Última Atualização: </b>
            <%= data.updatedAt ? data.updatedAt.toLocaleString(): 'N/A' %>
    
        </p>
    </div>



</div>